*.class
*.log
.idea/*.*
.idea/inspectionProfiles/
.idea/libraries/Maven__com_typesafe_scala_logging_scala_logging_2_11_3_8_0.xml
.idea/libraries/Maven__org_scala_lang_scala_reflect_2_11_12.xml
.idea/uiDesigner.xml
*.iml
target/*
beautiful-api/src/main/java/com/beautiful/.DS_Store
beautiful-api/src/main/java/com/beautiful/api/.DS_Store
beautiful-api/src/main/java/com/beautiful/api/utils/.DS_Store
beautiful-api/src/main/java/com/beautiful/api/utils/text/.DS_Store
beautiful-api/src/main/java/com/beautiful/api/utils/text/.svn/
beautiful-api/src/main/java/com/beautiful/api/utils/text/table/.svn/
beautiful-api/src/main/java/com/beautiful/api/utils/text/table/csv/.svn/
beautiful-api/src/main/java/com/beautiful/api/utils/text/tree/.svn/
beautiful-api/src/main/scala/com/beautiful/api/model/
beautiful-api/target/classes/
beautiful-common/target/beautiful-common-0.0.1-SNAPSHOT.jar
beautiful-common/target/maven-archiver/
beautiful-common/target/maven-status/
beautiful-core/target/beautiful-core-0.0.1-SNAPSHOT.jar
beautiful-core/target/maven-archiver/
beautiful-core/target/maven-status/
beautiful-data/beautiful-data-vec/target/beautiful-data-vec-0.0.1-SNAPSHOT-sources.jar
beautiful-data/beautiful-data-vec/target/beautiful-data-vec-0.0.1-SNAPSHOT.jar
beautiful-data/beautiful-data-vec/target/generated-sources/
beautiful-data/beautiful-data-vec/target/lib/
beautiful-data/beautiful-data-vec/target/maven-archiver/
beautiful-data/beautiful-data-vec/target/maven-status/
beautiful-flow/target/beautiful-flow-0.0.1-SNAPSHOT.jar
beautiful-flow/target/maven-archiver/
beautiful-flow/target/maven-status/
beautiful-ml/beautiful-ml-deploy/target/beautiful-ml-deploy-0.0.1-SNAPSHOT.jar
beautiful-ml/beautiful-ml-deploy/target/maven-archiver/
beautiful-ml/beautiful-ml-deploy/target/maven-status/
beautiful-ml/beautiful-ml-model/target/beautiful-ml-model-0.0.1-SNAPSHOT.jar
beautiful-ml/beautiful-ml-model/target/maven-archiver/
beautiful-ml/beautiful-ml-model/target/maven-status/
beautiful-ml/beautiful-ml-mxnet/target/beautiful-ml-mxnet-0.0.1-SNAPSHOT.jar
beautiful-ml/beautiful-ml-mxnet/target/maven-archiver/
beautiful-ml/beautiful-ml-mxnet/target/maven-status/
beautiful-ml/beautiful-ml-stats/target/beautiful-ml-stats-0.0.1-SNAPSHOT.jar
beautiful-ml/beautiful-ml-stats/target/maven-archiver/
beautiful-ml/beautiful-ml-stats/target/maven-status/
beautiful-ml/beautiful-ml-tensorflow/target/beautiful-ml-tensorflow-0.0.1-SNAPSHOT.jar
beautiful-ml/beautiful-ml-tensorflow/target/maven-archiver/
beautiful-ml/beautiful-ml-tensorflow/target/maven-status/
beautiful-ui/target/
/beautiful-api/target/
/beautiful-api/beautiful-api.iml
/.idea/
/target/
/beautiful-common/target/
/beautiful-common/beautiful-common.iml
/beautiful-core/beautiful-core.iml
/beautiful-core/target/
/beautiful-data/beautiful-data-loader/beautiful-data-loader.iml
/beautiful-data/beautiful-data-loader/target/
/beautiful-data/beautiful-data-vec/beautiful-data-vec.iml
/beautiful-data/beautiful-data-vec/target/
/beautiful-data/beautiful-data.iml
/beautiful-flow/beautiful-flow.iml
/beautiful-flow/target/
/beautiful-ml/beautiful-ml-deploy/beautiful-ml-deploy.iml
/beautiful-ml/beautiful-ml-deploy/target/
/beautiful-ml/beautiful-ml-model/beautiful-ml-model.iml
/beautiful-ml/beautiful-ml-model/target/
/beautiful-ml/beautiful-ml-mxnet/beautiful-ml-mxnet.iml
/beautiful-ml/beautiful-ml-mxnet/target/
/beautiful-ml/beautiful-ml-stats/target/
/beautiful-ml/beautiful-ml-stats/beautiful-ml-stats.iml
/beautiful-ml/beautiful-ml-tensorflow/beautiful-ml-tensorflow.iml
/beautiful-ml/beautiful-ml-tensorflow/target/
/beautiful-ml/beautiful-ml.iml
/beautiful-ui/beautiful-ui.iml
/beautiful-ui/target/
/beautiful.iml
